body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

.login-container {
  background-color: white;
  width: 340px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-left: 10px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #45a049;
}

.signin-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signin-link a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

.signin-link a:hover {
  text-decoration: underline;
}
.logo{
    background-color: #45a049;
    color: white;
    border-radius:8px ;
    display: inline-block;
    padding : 10px 20px;
    text-align: center;
    margin-left: 137px;
}