.top-bar {
  background-color: #28a745; /* Green background */
  color: white;
  padding: 8px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.left-info {
  display: flex;
  align-items: center;
  gap: 12px;
}


.delivery-text {
  margin-left: 10px;
}

.right-info {
  white-space: nowrap;
}
